<mat-toolbar color="primary">
  <span>EMT en Directe</span>
  <span style="flex: 1 1 auto;"></span>

  <button mat-button routerLink="/mapa">
    <mat-icon>map</mat-icon> mapa </button>

  <button mat-button routerLink="/lineas">
    <mat-icon>directions_bus</mat-icon> línies </button>

  <button mat-button routerLink="/favoritos">
    <mat-icon>star</mat-icon> favorits </button>

  <span style="margin: 0 10px;">{{ username }}</span>

  <button mat-button (click)="logout()">
    <mat-icon>logout</mat-icon> sortir </button>
</mat-toolbar>
